<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<context-param>
		<param-name>clientId</param-name>
		<param-value>2a35c02b0c53893ae838</param-value>
	</context-param>
	<context-param>
		<param-name>githubAuthUrl</param-name>
		<param-value>https://github.com/login/oauth/authorize</param-value>
	</context-param>
	<context-param>
		<param-name>callbackUri</param-name>
		<param-value>https://market.kodekonveyor.com/market/callback</param-value>
	</context-param>
	<context-param>
		<param-name>noNextUrl</param-name>
		<param-value>/?error=No next parameter given to login</param-value>
	</context-param>
	<context-param>
		<param-name>noCode</param-name>
		<param-value>/?error=No code parameter</param-value>
	</context-param>
	<context-param>
		<param-name>tokenUrl</param-name>
		<param-value>https://github.com/login/oauth/access_token</param-value>
	</context-param>
	<context-param>
		<param-name>code</param-name>
		<param-value>code</param-value>
	</context-param>
</web-app>